.nav-header{
    height: 100px;
    margin-bottom: 20px;
}
header{
    position: sticky;
    top:0;
    z-index: 1;
}

.card-pos-death.card {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: #01c5c4;
    background-color:#e8e8e8 ;
}
.card-News.card{
  padding-left:0px;
  border-left: 6px solid #12cad6!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.state-Card.card-body{
  border-left: 8px solid #28df99!important;
} 
.vaccine-Card{
  height:200px;
}
.covid-counts{
    color:#150485;
    font-size: 20px;
}
.state-covid-counts{
  color:whitesmoke;
  font-size: 15px;
  font-weight: bolder; 
}
.card-tab-header.card{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: #3adb21;
    width: 600px;
    background-color: #394989;
}

.continent-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    color: white;
    width: 600px;
    background-color: #01c5c4;
}

.country-field{
    width:40%;
}
.card-subtitle{
    color:red;
}

/*Toggle Card Styling*/


  .my-collapsible__toggle {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 2px gray;
    border-radius: 10px;
    border: 4px solid #bbbbbb;
    background: transparent;
  }
  .my-collapsible__content {
    overflow: hidden;
    background-color: green;
  }
  
  .my-collapsible__content-inner {
    padding: 1rem;
    min-height: 20rem;
    _background: linear-gradient(lightblue, white);
  }
  
  .number {
    font-variant-numeric: tabular-nums;
    min-width: 3em;
    display: inline-block;
    text-align: left;
  }
  